---
import Hero from '../components/Hero.astro';
import Main from '../components/Main.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Bakery and Deserts" , description="Bakery and Deserts web page">
  <Main>
    <Hero />
  </Main>
</Layout>
